body {
  margin: 0;
}
.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
}

@keyframes move {
  from {
    background-position: center center, left center;
    // border-radius: 100%;
  }
  to {
    // border-radius: 0%;
    background-position: center center, right center;
  }
}
